body{
    background-color: whitesmoke;
    font-family: verdana;
    
}
.login {
    border: solid;
    border-color: white;
    border-radius: 5px;
    height: auto;
    width: auto;
}
.img-cart {
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.form-control {
    width: 100px;
}
.btn {
    width: auto;
}
.btn:hover {
    box-shadow: 1px 1px 10px gray;
    transition: 0.4s;
}
a {
    color: black;
    text-decoration: none;
}